.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: #282c34;
  /* #282c34
  text-align: center;
overflow: hidden; */
}

a {
  color: #333;
  text-decoration: none;
}

nav {
  width: 100%;
  /* background: #212121; */
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}

nav a {
  color: #ccc;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  /* padding-right: 2em;  */
  float: left;
}

li {
  height: 100%;
  flex: 1;
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 15px 20px; */
  transition: all 0.3s ease-in;
  cursor: pointer;
}

li a {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  padding: 15px 25px;
}

/* maybe remove this  */
li:hover {
  background: #848484;
  color: #212121;
}

/* .landingPage::before {
    background: url("./images/WarmPoly.png")
} */

@media only screen and (max-device-width: 1024px) {
  .landingPage {
    background-attachment: scroll;
  }
}

.arrow {
  max-width: 7%;
  animation-name: App-logo-spin;
  position: relative;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 0.1);
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

footer a {
  color: #8a2be2;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  /* align-items: center; */
  height: 1000px;
  padding-top: 250px;
}

.circle {
  height: 12em;
  width: 12em;
  background-color: #fff;
  border-radius: 50%;
  border-color: red;
  /* padding: 55px; */
}

.skill {
  color: #fff;
  text-shadow: 0 0 3px #000;
  /* border: 6px solid #fff; */
  /* border-radius: 50vw; */
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  /* transition: ease-in 0.5s, color 1s, opacity 0.5s, border 0.5s; */
}

.break {
  flex-basis: 100%;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

/*------------------------------------------------------------------
  [  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

/*------------------------------------------------------------------
  [  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  resize: vertical;
  /* overflow: visible; */
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  /* color: #61dafb; */
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  /* color: #8a2be2; */
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 20px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: transparent;
}

input,
select,
textarea,
button {
  border: transparent;
}

.container-contact2 {
  text-align: left;
}


.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 50%;
    height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

#projects {
    background: #fff;
    color: #000;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    min-height: 1000px;
}